.TaskLine {
  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .InputPriority{
      width: 3rem;
    }

    .checkbox-task-done{
      margin: 0 20rem 0 0;
    }
  }

  .strike {
    text-decoration: line-through;
  }
}
