.TaskLine {
  .task {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .InputPriority{
      width: 3rem;
      margin: 0 0.6rem 0 0;
    }

    .checkbox-task-done{
      margin: 0 5rem 0 2.5rem;
    }

    .task-to-edit{
      margin: 0 20rem 0 0;
    }

    .delete-btn-task{
      @include center-horizontal;
      margin: 0.5rem;
    }

    .edit-icon-homepage{
      width: 1.3rem;
    }

    .delete-icon-homepage{
      width: 1.3rem;
    }
  }

  .strike {
    text-decoration: line-through;
  }
}
